#title{
    color:rgb(245, 110, 57);
    font-size: 60px;
}
#subtitle {
    color:rgb(238, 255, 3);
    text-align: center;
}
#titleCenter{
    position: relative;
    top: 30%;
    margin: 0 auto;
    width: 40%;
}